.section-cont {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1400px;
  margin: auto;
  @media screen and (min-width: 1000px) {
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 4rem;
  }
}

.tidal-hero {
  height: 100vh;
  background-image: url('../images/tidal_hero_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -9rem;
  z-index: -1;
  position: relative;
  margin-bottom: 2rem;
  @media screen and (min-width: 1000px) {
    grid-column: 1/span 2;
    background-image: url('../images/tidal_hero_bg_dsktop.jpg');
  }
}

#tidal_btl {
  width: 100%;
  position: absolute;
  top: 25%;
  left: 1%;
  @media screen and (min-width: 1000px) {
    width:50%;
    left: 25%;
    top: 20%;
  }
}

.wrdmark {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 10rem;
  background-color: rgba($white, 0.55);
  text-align: center;
  @media screen and (min-width: 1000px) {
    height: 10rem;
  }
  img {
    width: 50%;
    margin-top: 3rem;
    @media screen and (min-width: 1000px) {
      width: 25%;
      margin-top: 2.5rem;
    }
  }
}

.prodIntro {
  padding: 4rem;
  @media screen and (min-width: 1000px) {
    margin-top: 5rem;
    max-width: 30rem;
  }
}

.paragraph {
  @include paragraph;
  color: $black;
  margin-bottom: 4rem;
  line-height: 30px;
}

// ===================== VIDEO SECTION
.thumbs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  margin-bottom: 4rem;
  @media screen and (min-width: 1000px) {
    margin:auto;
  }
  .balance {
    background-image: url('../images/balance.png');
    @media screen and (min-width: 1000px) {
      background-image: url('../images/balance@2x.png');
    }
  }
  .versatile {
    background-image: url('../images/versatile.png');
    @media screen and (min-width: 1000px) {
      background-image: url('../images/versatile@2x.png');
    }
  }
  .sustainable {
    background-image: url('../images/sustainable.png');
    @media screen and (min-width: 1000px) {
      background-image: url('../images/sustainable@2x.png');
    }
  }
}

.thumb-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thumb-title {
  @include title;
  font-size: 1.5rem;
}

.thumb {
  width: 96px;
  height: 96px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 2rem;
  @media screen and (min-width: 1000px) {
    width: 190px;
    height: 190px;
  }
}

.vid-wrap {
  overflow: hidden;
  padding: 2rem;
  @media screen and (min-width: 1000px) {
    grid-column: span2;
    padding: 0;
  }
  video {
    width: 100%;
  }
}

.btn-cont {
  text-align: center;
  margin: 4rem 0 6rem 0;
  @media screen and (min-width: 1000px) {
    grid-column: 1;
    grid-row: 2;
    margin: 2rem 0 2rem 0;
  }
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
  background-color: $black;
  color: $white;
  font-weight: 700;
  padding: 1rem 4rem;
}

//  ============ LIFESTYLE SECTION
#health {
  @media screen and (min-width: 1000px) {
    grid-column:span 2;
  }
  h2 {
    @media screen and (min-width: 1000px) {
      left:5rem;
    }
  }
}

.picture {
  position: relative;
  @media screen and (min-width: 1000px) {
    grid-column:1/span 2;
    margin-bottom: 4rem;
  }
  img {
    width: 100%;
  }
  h2 {
    position: absolute;
    font-size: 3.5rem;
    max-width: 250px;
    top: 5rem;
    left: 1rem;
    @media screen and (min-width: 1000px) {
      font-size: 6.3rem;
      left: 60rem;
      top: 12rem;
      max-width: 300px;
    }
  }
}

.desktop-only {
  .lifestyle-text {
    @media screen and (min-width: 1000px) {
      margin-top: 15rem;
    }
  }
}

.lifestyle-text {
  padding: 4rem;
  @media screen and (min-width: 1000px) {
    margin:auto;
  }
}

// ======
.info-wraper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2rem;
  .info {
    text-align: center;
    max-width: 102px;
    border: 1px $green solid;
    display: flex;
    flex-direction: column;
    color: $green;
  }
}

ul {
  list-style: none;
  text-align: center;
  @include title;
  margin-bottom: 2rem;
  line-height: 30px;
  li {
    font-weight: 300;
  }
}

footer {
  background-image: url('../images/footer_bg_mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 170px;
  position: relative;
  @media screen and (min-width: 1000px) {
    background-image: url('../images/footer_bg_desktop.jpg');
    height: 300px;
  }
  p {
    position: absolute;
    bottom: 2rem;
    left: 100px;
    color: $white;
    text-align: center;
    @media screen and (min-width: 1000px) {
      left: 45%;
    }
    span {
      display: block;
    }
  }
}